@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  nav {
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .presentacion {
    flex-direction: column;
    align-items: center;
  }

  .presentacion p {
    text-align: center;
  }

  .social {
    flex-direction: column;
    align-items: center;
  }

  .social a span {
    display: block;
    margin-top: 5px;
    font-size: 16px;
  }
}

body {
  background: linear-gradient(84deg, rgba(54, 16, 94, 1) 0%, rgba(101, 16, 107, 1) 43%, rgba(57, 0, 79, 1) 60%);
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: blueviolet;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 80px;
  width: auto;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  border-color: yellow;
  background-color: yellow;
  color: black;
  transform: scale(1.1);
}

main h1 {
  text-align: center;
  color: rgb(223, 216, 216);
  margin-top: 20px;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(119, 14, 169);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 30px;
  padding: 20px;
  gap: 30px;
}

.contacto p {
  font-size: 20px;
  color: white;
  max-width: 600px;
  text-align: center;
}

.contacto h2 {
  font-size: 30px;
  text-align: center;
  color: white;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.social a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.social i {
  font-size: 30px;
  color: white;
  background-color: black;
  border-radius: 50%;
  padding: 15px;
  transition: 0.3s;
}

.social a span {
  margin-top: 8px;
  color: white;
  font-size: 16px;
}

.social a:hover i {
  transform: scale(1.2);
  background-color: yellow;
  color: black;
}
